body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.fisrt-line{
    color: #FFA500;
    font-size: 45px;
}
.first-section{
    display: flex;
}
.first-div{
    width: 50%;
   padding-left: 8%;
}
.first-div img{
    width: 80%;
}
.first-section p{
    line-height: 25px;
    font-size: 18px;
    word-spacing: 3px;
    text-align: justify;

}
.ancore-tag{
    text-decoration: none;
    background: linear-gradient(#FF9E78,#FA6F5B);
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
}
#top-pic {
    background-image: url(images/top-benner-removebg-preview.png);
    background-repeat: no-repeat;
 
}
#pheragraph{
    padding-right: 20%;
}
#midel-pic{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 20%;
}
